.place__text {
    padding-top: 27px;
    margin: 0;
}

.place__text:first-child {
    padding-top: 0;
}

@media screen and (max-width: 768px) {
    .place__text{
        padding-top: 25px;
    }
}

@media screen and (max-width: 600px) {
    .place__text {
        padding-top: 25px;
    }
}
