.cover {
    width: calc(100% - 2*48px);
    height: 62.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    transition: opacity 1s ease;
}

.cover:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover:hover:before {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        width: 100%;
    }
}
