.cover__title {
    margin: 0;
    padding: 0;
    max-width: 560px;
    font-size: 72px;
    line-height: calc(76 / 72);
    text-align: center;
    font-weight: 900;
    font-style: normal;
    z-index: 1;
    text-decoration: none;
    color: #FFFFFF;
}


@media screen and (max-width: 768px) {
    .cover__title {
        font-size: calc((100vw - 320px) / (768 - 320) * (72 - 32) + 32px);
        line-height: calc((100vw - 320px) / (768 - 320) * (76 - 35) + 35px);
        max-width: calc((100vw - 320px) / (768 - 320) * (560 - 288) + 288px);
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: calc(35 / 32);
    }
}
